@{
    ViewData["Title"] = "Prijava";
}

<h1>Prijava korisnika</h1>

@if (ViewBag.Greska != null)
{
    <div class="alert alert-danger">
        @ViewBag.Greska
    </div>
}

<form method="post">

    <div class="mb-3">
        <label class="form-label">Korisničko ime</label>
        <input type="text" name="korisnickoIme" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Lozinka</label>
        <input type="password" name="lozinka" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">
        Prijavi se
    </button>

</form>