USE [master]
GO
/****** Object:  Database [CvecaraFlora]    Script Date: 22.6.2026. 19:00:43 ******/
CREATE DATABASE [CvecaraFlora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CvecaraFlora', FILENAME = N'C:\Users\HP\Desktop\MSSQL16.SQLEXPRESS02\MSSQL\DATA\CvecaraFlora.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CvecaraFlora_log', FILENAME = N'C:\Users\HP\Desktop\MSSQL16.SQLEXPRESS02\MSSQL\DATA\CvecaraFlora_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CvecaraFlora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CvecaraFlora]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 22.6.2026. 19:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Lozinka] [nvarchar](100) NOT NULL,
	[Uloga] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzbina]    Script Date: 22.6.2026. 19:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzbina](
	[NarudzbinaID] [int] IDENTITY(1,1) NOT NULL,
	[ImePrezimeKupca] [nvarchar](100) NOT NULL,
	[BrojTelefona] [nvarchar](20) NOT NULL,
	[DatumKreiranja] [date] NOT NULL,
	[DatumPreuzimanja] [date] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[UkupnaCena] [decimal](10, 2) NOT NULL,
	[TipAranzmanaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NarudzbinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaNarudzbine]    Script Date: 22.6.2026. 19:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaNarudzbine](
	[StavkaNarudzbineID] [int] IDENTITY(1,1) NOT NULL,
	[NarudzbinaID] [int] NOT NULL,
	[VrstaCveca] [nvarchar](100) NOT NULL,
	[Kolicina] [int] NOT NULL,
	[DodatnaDekoracija] [nvarchar](100) NULL,
	[Cena] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StavkaNarudzbineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipAranzmana]    Script Date: 22.6.2026. 19:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipAranzmana](
	[TipAranzmanaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipAranzmanaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([KorisnikID], [KorisnickoIme], [Lozinka], [Uloga]) VALUES (1, N'admin', N'admin123', N'Administrator')
INSERT [dbo].[Korisnik] ([KorisnikID], [KorisnickoIme], [Lozinka], [Uloga]) VALUES (2, N'korisnik', N'korisnik123', N'Korisnik')
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
GO
SET IDENTITY_INSERT [dbo].[Narudzbina] ON 

INSERT [dbo].[Narudzbina] ([NarudzbinaID], [ImePrezimeKupca], [BrojTelefona], [DatumKreiranja], [DatumPreuzimanja], [Status], [UkupnaCena], [TipAranzmanaID]) VALUES (4, N'Mila Milic', N'0612457836', CAST(N'2026-06-14' AS Date), CAST(N'2026-06-14' AS Date), N'Hitno', CAST(1500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Narudzbina] ([NarudzbinaID], [ImePrezimeKupca], [BrojTelefona], [DatumKreiranja], [DatumPreuzimanja], [Status], [UkupnaCena], [TipAranzmanaID]) VALUES (6, N'Lana Nedic', N'0614444444', CAST(N'2026-06-15' AS Date), CAST(N'2026-06-15' AS Date), N'Hitno', CAST(2000.00 AS Decimal(10, 2)), 3)
INSERT [dbo].[Narudzbina] ([NarudzbinaID], [ImePrezimeKupca], [BrojTelefona], [DatumKreiranja], [DatumPreuzimanja], [Status], [UkupnaCena], [TipAranzmanaID]) VALUES (7, N'Nikola Markovic', N'0654444777', CAST(N'2026-06-15' AS Date), CAST(N'2026-06-15' AS Date), N'Hitno', CAST(1800.00 AS Decimal(10, 2)), 5)
SET IDENTITY_INSERT [dbo].[Narudzbina] OFF
GO
SET IDENTITY_INSERT [dbo].[StavkaNarudzbine] ON 

INSERT [dbo].[StavkaNarudzbine] ([StavkaNarudzbineID], [NarudzbinaID], [VrstaCveca], [Kolicina], [DodatnaDekoracija], [Cena]) VALUES (1, 4, N'ruza', 10, N'ne', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[StavkaNarudzbine] ([StavkaNarudzbineID], [NarudzbinaID], [VrstaCveca], [Kolicina], [DodatnaDekoracija], [Cena]) VALUES (3, 6, N'hortenzija', 10, N'ne', CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[StavkaNarudzbine] ([StavkaNarudzbineID], [NarudzbinaID], [VrstaCveca], [Kolicina], [DodatnaDekoracija], [Cena]) VALUES (4, 7, N'lale', 10, N'ne', CAST(1800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[StavkaNarudzbine] OFF
GO
SET IDENTITY_INSERT [dbo].[TipAranzmana] ON 

INSERT [dbo].[TipAranzmana] ([TipAranzmanaID], [Naziv]) VALUES (1, N'Rodjendanski')
INSERT [dbo].[TipAranzmana] ([TipAranzmanaID], [Naziv]) VALUES (2, N'Svadbeni')
INSERT [dbo].[TipAranzmana] ([TipAranzmanaID], [Naziv]) VALUES (3, N'Romanticni')
SET IDENTITY_INSERT [dbo].[TipAranzmana] OFF
GO
ALTER TABLE [dbo].[Narudzbina]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbina_TipAranzmana] FOREIGN KEY([TipAranzmanaID])
REFERENCES [dbo].[TipAranzmana] ([TipAranzmanaID])
GO
ALTER TABLE [dbo].[Narudzbina] CHECK CONSTRAINT [FK_Narudzbina_TipAranzmana]
GO
ALTER TABLE [dbo].[StavkaNarudzbine]  WITH CHECK ADD  CONSTRAINT [FK_StavkaNarudzbine_Narudzbina] FOREIGN KEY([NarudzbinaID])
REFERENCES [dbo].[Narudzbina] ([NarudzbinaID])
GO
ALTER TABLE [dbo].[StavkaNarudzbine] CHECK CONSTRAINT [FK_StavkaNarudzbine_Narudzbina]
GO
/****** Object:  StoredProcedure [dbo].[DodajTipAranzmana]    Script Date: 22.6.2026. 19:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DodajTipAranzmana]
    @Naziv NVARCHAR(50)
AS
BEGIN
    INSERT INTO TipAranzmana (Naziv)
    VALUES (@Naziv);
END;
GO
USE [master]
GO
